<template>
    

    <v-card>
        <v-card-title class="grey darken-2">
          {{ title }} Item
        </v-card-title>
        <v-container>
    <v-col cols="12">
    
    
    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
    >

    <v-row>



    <v-col cols="6">
       <v-text-field
            v-model="NameEn"
            :rules="nameRules"
            :counter="10"
            label="English Name"
            required
          ></v-text-field>
    </v-col>

    <v-col cols="6">
       <v-text-field
            v-model="NameAr"
            :rules="nameRules"
            :counter="10"
            label="Arabic Name"
            required
          ></v-text-field>
    </v-col>

    </v-row>


    <v-row>



    <v-col cols="6">

        <v-text-field
        v-if="! isUpdate"
        v-model="quantity"
        :counter="11"
        type="number"
        :rules="quantityRules"
        label="Quantity"
        required
      ></v-text-field>
    </v-col>

    <v-col cols="6">
       <v-text-field
            v-model="originalPartNumber"
            :rules="originalRules"
            :counter="10"
            label="Original Part Number"
            required
          ></v-text-field>
    </v-col>

    </v-row>


    <v-row>



    <v-col cols="6">

        <v-text-field

        v-if="isUpdate"
        v-model="PartNumber"
        :counter="11"
        :rules="originalRules"
        label="Part Number"
        required
      ></v-text-field>
    </v-col>

    <v-col cols="6">
       <v-text-field
            v-if="false"
            v-model="Price"
            :rules="originalRules"
            type="number"
            :counter="10"
            label="Price"
            required
          ></v-text-field>
    </v-col>

    </v-row>
  
    </v-form>

   </v-col>

   </v-container>
        <v-card-actions>
          <v-btn
            text
            @click="reset"
            color="warning"
          >Clear</v-btn>

        

          <div class="flex-grow-1"></div>
          
          <v-btn
            text
            color="error"
            @click="dismiss"
          >Cancel</v-btn>

          <v-btn
            text
            color="success"
            @click="validate"
          >Save</v-btn>

          
        </v-card-actions>
      </v-card>


</template>


<script>


 import Api from '../../Api.js'

//  NOTES: useing item to determine post OR put as a flag

// if (item )  than PUT
// if (!item) than POST


  export default {

    props:['item'],


    mounted(){

      console.log('here is item')
      console.log(this.item);

    },

    data() {


    return {

            valid: true,
            e1: true,
            NameEn: (this.item && this.item.NameEn )  ?  this.item.NameEn : '' ,
            NameAr: (this.item && this.item.NameAr )  ?  this.item.NameAr : '' ,
            quantity: (this.item && this.item.Quantity )  ?  this.item.Quantity : '' ,
            originalPartNumber: (this.item && this.item.OriginalPartNumber )  ?  this.item.OriginalPartNumber : '' ,

            PartNumber: (this.item && this.item.PartNumber )  ?  this.item.PartNumber : '' ,
            Price: (this.Price && this.item.Price )  ?  this.item.Price : '' ,

            snackbar:false,

            quantityRules: [
              v => !!v || 'Quantity is required',
              // v => (v && v.length <= 2) || 'Quantity must be less than 2 characters',
            ],

            nameRules: [
                v => !!v || 'Name is required',
                // v =>  (v  && v.length <= 10 ) || 'Name must be less than 10 characters',
            ],
            originalRules: [
                v => !!v || 'Original Part Number is required',
                // v =>  (v  && v.length <= 10 ) || 'Original Part Number must be less than 10 characters',
            ],
            

            lazy: false,
      }
    },

    watch:{

        item(){

            if(this.item){

                this.NameEn = this.item.NameEn;
                this.NameAr = this.item.NameAr;
                this.quantity = this.item.Quantity;
                this.originalPartNumber = this.item.OriginalPartNumber;

                this.PartNumber = this.item.PartNumber;

                this.Price = this.item.Price;


                return ;
            }

            this.resetItem();

        }

    },

    computed:{

        endPoint(){

            return this.item ? `/items/${this.item.ID}` : '/items';
        },
        title(){

             return this.item ? 'Update' : 'Create';

        },

        isUpdate(){

            return this.item ? true : false ;

        }

    },
    methods: {

      resetItem(){

        this.NameEn = '';
        this.NameAr = '';
        this.quantity = '';
        this.originalPartNumber = '';

        this.PartNumber = '';

        this.Price = '';

      },

      dismiss(){

          Eventer.$emit('dismissDialog');

      },

      persist(){

          let method = this.item ? 'put' : 'post';
          
          Api.query(method, this.endPoint, {

              nameEn: this.NameEn, 

              nameAr: this.NameAr,

              quantity: this.quantity,
              
              originalPartNumber: this.originalPartNumber,

              PartNumber: this.PartNumber,

              Price: this.Price

          })
          .then( res => {
            
              if( this.item ){ Eventer.$emit('patchItem', res.data) }
              if( !this.item ){ Eventer.$emit('addItem', res.data) }
              this.dismiss();
              this.reset();

          })
          .catch( err => console.log(err))

      },

      validate () {

        if (this.$refs.form.validate()) {
        
          this.snackbar = true

          // submit to the backend
          this.persist();


        }

        // Flash with something wrong happened

      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {

        this.$refs.form.resetValidation()
      
      },
    },
  }
</script>

