<template>
  
  <div>

    <v-container>
    <v-row
    
        class="mb-6"
    
          no-gutters
        >
          <v-col cols="12" >
            <v-card class="table-responsive">
                <v-card-title>
                  items
                  <div class="flex-grow-1"></div>
                  <v-text-field
                    v-model="filterBy"

                    @keyup.enter="searchItems"

                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>

                  <!-- :headers="headers" -->
                  <!-- :items="desserts" -->

                  <!-- v-if="orders.length > 0" -->
                  <!-- class="elevation-1" -->

                  <table-component
     :data="items"
     table-class="table"
     sort-by="CreatedAt"
     sort-order="desc"

     :show-filter="false"
>
     <table-column show="ID" label="ID"></table-column>
     <table-column show="NameAr" label="NameAr"></table-column>
     <table-column show="NameEn" label="NameEn"></table-column>
     <table-column show="Quantity" label="Quantity"></table-column>
     <table-column show="PartNumber" label="PartNumber"></table-column>
     <table-column show="OriginalPartNumber" label="OriginalPartNumber"></table-column>
    <table-column show="CreatedAt" label="CreatedAt" data-type="date:DD/MM/YYYY"></table-column>
     <table-column show="UpdatedAt" label="UpdatedAt" data-type="date:DD/MM/YYYY"></table-column>
     <table-column label="" :sortable="false" :filterable="false">
         <template slot-scope="row">
            
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions
                </button>
                <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item"  @click.prevent="update" :id="row.ID" :href="`#${row.ID}`">Edit</a>
                  <a class="dropdown-item"  @click.prevent="buy" :id="row.ID" href="#">Buy</a>
                  
                </div>
              </div>

         </template>
     </table-column>
 </table-component>
              
                    
             <paginator @changed="renewItems" :endPoint="`/items?page=`"></paginator>
                </v-card>

          </v-col>

    </v-row>

  </v-container>
  </div>
</template>

<script>

  import Api from '../../Api.js'
  import Paginator from '../../components/Paginator';

export default {

  components:{
    Paginator
  },

  data(){

    return {

      filterBy: '', 

      items: [],

    }

  },

  mounted(){

    this.fetch();

    Eventer.$on('patchItem', item => {

      let index = _.findIndex(this.items, {ID: item.ID});

      // Replace item at index using native splice
       this.items.splice(index, 1, item);

    });

    Eventer.$on('addItem', item => {

      this.items.unshift(item.item);

    });

  },

  computed:{


    endPoint(){

      return '/items';

    }

  },

  methods:{


    fetch(){

        Api.get(this.endPoint).then((response) =>  {

						this.items = response.data

					})
					.catch( (response) =>  {
          
          
              console.log(response)
          
          
          })



    },

      renewItems({ page, items}){

        this.items = items

      },

      buy(event){

        let ID = parseInt(event.target.id);
        
        Eventer.$emit('loadBuyForm', ID);

      },

      update(event){



        // let item =  _.find(this.items, 'ID', event.target.id );
        let item =  _.find(this.items, ['ID', parseInt(event.target.id) ]);

        console.log(item);
        
        Eventer.$emit('loadItemToDialog', item);

      },

      searchItems() {
 
				Api.get('/items'+ '?search=' + this.filterBy)
					.then((response) =>  {

						this.items = response.data

					})
					.catch( (error) =>  {
          
          
              console.log(error)
          
          
          })
          
          
      },    



  }
  
}
</script>

<style scoped>

</style>