<template>
    
    <v-col
                                  
                cols="12"
                                  md="4"
                                >
                                  <v-item >
                                    
                                    <div

                                      
                                      class="d-flex align-center project-li"
                                      dark
                                      height="200"
                                    
                                    >
                                      <!-- @click="toggle" -->
                                    
                                      {{ title }} :  {{ ago(value) }}
                                    

                                    </div>
                                  </v-item>
                                </v-col>


</template>

<script>
export default {
    props:['title', 'value'],

    computed:{

        // ago(){

        //     return moment(this.value).fromNow(); // here u modify data 

        // }

    },
    


}
</script>

<style scoped>

.project-li{

    width:260px;
    height:50px;
    background: #ccc;
    color: #000;
    border-radius: 20px;
    text-align:center;
    padding:20px;
    font-size: 12px;
    
}


</style>