<template>
  
  <div>

    <v-container>
    <v-row
    
        class="mb-6"
    
          no-gutters
        >
          <v-col cols="12" >
            <v-card class="table-responsive">
                <v-card-title>
                  Projects
                  <div class="flex-grow-1"></div>
                  <v-text-field
                    v-model="filterBy"

                    @keyup.enter="searchItems"

                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>

                <v-expansion-panels focusable>
                  

                  <v-expansion-panel
                    v-for="(item,i) in items"
                    :key="i"
                  >
                    <v-expansion-panel-header disable-icon-rotate>
                    
                      {{ item.Name }} 

                      <template v-slot:actions>
                        
                      <v-icon color="teal" v-if="Done(item.Milestones)" >mdi-check</v-icon>
                      <v-icon color="red" v-if="! Done(item.Milestones)">mdi-alert-circle</v-icon>
                    </template>

                    </v-expansion-panel-header>
                    <v-expansion-panel-content>


                      <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. -->

                      <a href=""

                            :id="item.ID"

                            class="btn btn-default"
  
                            @click.prevent="update">

                            Edit

                            </a>

                      <v-item-group>
                          
                            <v-container>
                          
                              <v-row>
                                


                                <project-item :title="`Created AT`" :value="item.CreatedAt"></project-item>
                                <project-item :title="`Updated AT`" :value="item.UpdatedAt"></project-item>

                                  <v-col
                                  
                                    cols="12"
                                      
                                      md="4"
                                  >
                                    <v-item >

                                      <!-- <v-btn
                                        
                                        :id="item.ID"

                                        color="primary"
                                        
                                         @click="addMileStone"
                                         
                                      
                                          >Add Milestone</v-btn> -->

                                          <a 
                                                class="btn btn-primary"

                                                style="color:#fff" 
                                          
                                                  :id="item.ID" 

                                                    @click="addMileStone"
                                            
                                                      :href="`#${item.ID}`">Add Milestone</a>

                                    </v-item>

                                  </v-col>
                              
                              </v-row>
                            
                            </v-container>
                          
                          </v-item-group>

                      <milestones :milestones="item.Milestones"></milestones>

                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>

                 

            <v-spacer />
            <v-spacer />
                    
             <paginator @changed="renewItems" :endPoint="`/projects?page=`" ></paginator>
                </v-card>

          </v-col>

    </v-row>

  </v-container>
  </div>
</template>

<script>



  import Api from '../../Api.js'
  import Paginator from '../../components/Paginator';

  import Milestones from "./MileStones"
  import ProjectItem from './DateItem'

export default {

  components:{
    Paginator,
    ProjectItem,
    Milestones
  },

  data(){

    return {

      filterBy: '', 

      items: [],

    }

  },

  mounted(){

    this.fetch();

    Eventer.$on('patchProject', item => {

      let index = _.findIndex(this.items, {ID: item.ID});

      // Replace item at index using native splice
       this.items.splice(index, 1, item);

    });

    Eventer.$on('addProject', item => {

      this.items.unshift(item);

    });

  },

  computed:{


    endPoint(){

      return '/projects';

    }

  },

  methods:{

    Done(milestones){

      let finished = true

      milestones.forEach((mile) => {

        if( mile.FinishedAt == "0001-01-01T00:00:00Z" )
          finished = false

      })

      return finished

    },


    fetch(){

        Api.get(this.endPoint).then((response) =>  {

						this.items = response.data

					})
					.catch( (err) =>  {
          
          
              console.log(err)
          
          
          })



    },

      renewItems({ page, items}){

        this.items = items

      },

      addMileStone(){

        let projectId = parseInt(event.target.id)
        
        Eventer.$emit('addMileToProject', projectId );

      },

      update(event){

        // let item =  _.find(this.items, 'ID', event.target.id );
        let item =  _.find(this.items, ['ID', parseInt(event.target.id) ]);
        
        Eventer.$emit('loadItemToDialog', item);

      },

      searchItems() {
 
				Api.get('/projects'+ '?search=' + this.filterBy)
					.then((response) =>  {

						this.items = response.data

					})
					.catch( (error) =>  {
          
          
              console.log(error)
          
          
          })
          
          
      },    



  }
  
}
</script>

<style scoped>

    

</style>