<template>
    

    <v-card>
        
        <v-card-title class="grey darken-2">
        
          Mark Milestone as done
        
        </v-card-title>
        
        <v-container>

    <v-col cols="12">
    
    
    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
    >

  
    <v-row align="center"> 

      <v-date-picker
        
        v-model="date"

        :max="date"
        
        full-width
        
        :landscape="$vuetify.breakpoint.smAndUp"
      
        class="mt-4"
      
      ></v-date-picker>


    </v-row>
  
  
    </v-form>

   </v-col>

   </v-container>
        <v-card-actions>
          <v-btn
            text
            @click="reset"
            color="warning"
          >Clear</v-btn>

          <div class="flex-grow-1"></div>
          
          <v-btn
            text
            color="error"
            @click="dismiss"
          >Cancel</v-btn>

          <v-btn
            text
            color="success"
            @click="validate"
          >Save</v-btn>

          
        </v-card-actions>
      </v-card>


</template>


<script>


 import Api from '../../Api.js'

//  NOTES: useing item to determine post OR put as a flag

// if (item )  than PUT
// if (!item) than POST


  export default {

    props:['milstoneId'],

    data() {

      return {

            valid: true,
            e1: true,
            date: new Date().toISOString().substr(0, 10),
            snackbar:false,
            nameRules: [
                v => !!v || 'Finished at date  is required',
            ],

            lazy: false,
      }
    },

    watch:{

        milstoneId(){

            this.date = new Date().toISOString().substr(0, 10);

        }

    },

    computed:{

         getEndDate() {
          var endDate = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 10);
          return endDate.toISOString().slice(0,10)
          },

        endPoint(){

            return `/projects/milestones/${this.milstoneId}/finish/`;
        },

    },
    methods: {

      dismiss(){

          Eventer.$emit('dismissDialog');

      },

      persist(){

          Api.query('post', this.endPoint, {
              
              date: (new Date(this.date) ).toUTCString() 
              // date: (new Date(this.date) ).toISOString() 
              // date: this.date

          })
          .then( res => {

              Eventer.$emit('milestoneDone', {

                milestoneId: this.milstoneId,
                
                finishedAt: this.date

              })

              this.dismiss();
              this.reset();

          })
          .catch( err => {

            console.log(err)

          } )
      },

      validate () {

        if (this.$refs.form.validate()) {
        
          this.snackbar = true

          // submit to the backend
          this.persist();


        }

        // Flash with something wrong happened

      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {

        this.$refs.form.resetValidation()
      
      },
    },
  }
</script>

