      <template>
                              <v-item-group>
                                <v-container>
                                  <v-row>
                                    <v-col
                                      v-for="(milestone, index) in items"
                                      :key="index"
                                      cols="12"
                                      md="4"
                                    >
                                      <v-item v-slot:default="{ active, toggle }">

                                        <v-card
                                          :color="milestone.FinishedAt != `0001-01-01T00:00:00Z`  ? 'primary' : ''"
                                          class="d-flex align-center"
                                          dark
                                          height="200"

                                          
                                          style="position: relative;"
                                         
                                        >

                                        <div 
                                        
                                        class="milestone-status"

                                        >

                                        <a href=""

                                          v-if=" milestone.FinishedAt == `0001-01-01T00:00:00Z` "

                                            class="action-link"
                                          :id="milestone.ID"

                                            @click.prevent="markAsdone"
  
                                            >

                                              Mark Done

                                           </a>

                                        <a href=""

                                          :id="milestone.ID"

                                          class="action-link"
  
                                           @click.prevent="update">

                                              Edit

                                           </a>

                                          <a href="#"

                                            class="action-link"

                                            :id="milestone.ID"
  
                                            @click.prevent="remove">

                                              Delete

                                           </a> 

                                          <!-- class="milestone-status" -->
                                        <v-btn

                                          icon
                                          dark

                                           
                                        >
                                          <v-icon  :color="status(milestone.Date)" v-if="!isFinished(milestone)" >
                                            
                                              {{  'mdi-alert-circle' }}
  
                                          </v-icon>

                                          <v-icon  v-if="isFinished(milestone)" >
                                            
                                              {{ 'mdi-check' }}
  
                                          </v-icon>

                                        </v-btn>

                                      </div>

                                      

                                        <v-card-text
                                        
                                              class="display-3 flex-grow-1 text-center"

                                              style="
                                              
                                              font-size:20px !important;
                                              "

                                            >
      
                                             <v-scroll-y-transition>
                                            
                                            <p style="" class="milestone">

                                              Title : {{ milestone.Title }} <br>

                                              Description : {{ milestone.Description }} <br>

                                              Date : {{ ago(milestone.Date) }} <br>

                                            </p>

                                          </v-scroll-y-transition>

                                            
                                            </v-card-text>

                                         
                                        </v-card>
                                      </v-item>
                                    </v-col>
                                  </v-row>
                                </v-container>
                              </v-item-group>
                            </template>
                    
<script>

import Api from '../../Api.js'

export default {
    props:['milestones'],

    data(){

        return {

            items: this.milestones

        }

    },

    mounted(){


      Eventer.$on('patchMile', item => {

        let index = _.findIndex(this.items, {ID: item.ID});

        // Replace item at index using native splice
        this.items.splice(index, 1, item);

      });

      Eventer.$on('addMile', item => {

        this.items.push(item);

      });

      Eventer.$on('milestoneDone', (data) => {

        this.markDone(data)

      });

    },

    methods:{

      update(event){
        // tell Omar to attach the id to the milestone
        // search item for it than submit it to update

        // let item =  _.find(this.items, 'ID', event.target.id );
        // let id =  parseInt(event.target.id);
        let item =  _.find(this.items, ['ID', parseInt(event.target.id) ]);
 
        Eventer.$emit('loadItemToDialog', {

          item: item,

          subForm: this.milestones[0].ProjectID

        });

      },

      markAsdone(event){

        console.log('Here iam going')

        let ID = parseInt(event.target.id);

        Eventer.$emit('milestoneFinishedAt', ID);

      },

      markDone({milestoneId, finishedAt} ){

        let item =  _.find(this.items, ['ID', parseInt(milestoneId) ]);

        item.FinishedAt = finishedAt;

      },



      remove(event){

        let mileId = parseInt(event.target.id);

        Api.remove(`/projects/milestones/${mileId}`)
        .then(({data}) => {

          // console.log('here from success')

          this.items = _.filter(this.items, function(item){
            
            return item.ID != mileId
            
          });

          // search items for it
          // remove it 

        })
        .catch(error => {

          console.log(error)

        })

      },

      status(date){

        let current = moment();
        let dueDate = moment(date); 
        let weekFromNow = current.clone().add(1, 'week'); 

        if( dueDate.isBefore(current)  ) return 'error';
        if( dueDate.isBefore(weekFromNow)  ) return 'warning';
        if( dueDate.isAfter(weekFromNow)  ) return 'success';
        
        return 'white';


      },

      isFinished(milestone){

          return milestone.FinishedAt != "0001-01-01T00:00:00Z";
      }




    }
    
}
</script>


<style>

.milestone-status{
      display: inline-block;

      position: absolute !important;
      right: 10px !important;
      top: 10px !important;
    }
  .action-link{

    color: white !important;

  }

  .milestone{

                                                line-height: 1.3;
                                                margin-bottom: 0px !important;


                                              }

</style>