<template>
    

    <v-card>
        <v-card-title class="grey darken-2">
          {{ biGTitle }} Milestone
        </v-card-title>
        <v-container>
    <v-col cols="12">
    
    
    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
    >

    <v-row>



    <v-col cols="6">
       <v-text-field
            v-model="title"
            :rules="nameRules"
            :counter="10"
            label="Title"
            required
          ></v-text-field>
    </v-col>

    <v-col cols="6">
       <v-text-field
            v-model="description"
            :rules="nameRules"
            :counter="10"
            label="Description"
            required
          ></v-text-field>
    </v-col>

    </v-row>

    <v-row align="center"> 

      <v-date-picker
        
        v-model="date"
        
        full-width
        
        :landscape="$vuetify.breakpoint.smAndUp"
      
        class="mt-4"
      
      ></v-date-picker>


    </v-row>
  
  
    </v-form>

   </v-col>

   </v-container>
        <v-card-actions>
          <v-btn
            text
            @click="reset"
            color="warning"
          >Clear</v-btn>

          <div class="flex-grow-1"></div>
          
          <v-btn
            text
            color="error"
            @click="dismiss"
          >Cancel</v-btn>

          <v-btn
            text
            color="success"
            @click="validate"
          >Save</v-btn>

          
        </v-card-actions>
      </v-card>


</template>


<script>


 import Api from '../../Api.js'

//  NOTES: useing item to determine post OR put as a flag

// if (item )  than PUT
// if (!item) than POST


  export default {

    props:['item', 'projectId'],

    data() {


    return {

            valid: true,
            e1: true,
            title: (this.item && this.item.Title )  ?  this.item.Title : '' ,
            description: (this.item && this.item.Description )  ?  this.item.Description : '' ,
            date: (this.item && this.item.Date )  ?  new Date(this.item.Date).toISOString().substr(0, 10)  : new Date().toISOString().substr(0, 10) ,
            snackbar:false,

            nameRules: [
                v => !!v || 'Name is required',
                // v =>  (v  && v.length <= 10 ) || 'Name must be less than 10 characters',
            ],

            lazy: false,
      }
    },

    watch:{

        item(){

            if(this.item){

                this.title = this.item.Title;
                this.description = this.item.Description;
                this.date =  new Date(this.item.Date).toISOString().substr(0, 10) ;
                return ;
            }

            this.title = '';
            this.description = '';
            this.date = new Date().toISOString().substr(0, 10);

        }

    },

    computed:{

        endPoint(){

            return this.item ? `/projects/milestones/${this.item.ID}/` : `/projects/${this.projectId}/milestones/`;
        },

        biGTitle(){

             return this.item ? 'Update' : 'Create';

        }

    },
    methods: {

      dismiss(){

          Eventer.$emit('dismissDialog');

      },

      persist(){

          let method = this.item ? 'put' : 'post';
          
          Api.query(method, this.endPoint, {

              title: this.title,

              description: this.description, 

              date: (new Date(this.date)).toUTCString() 

          })
          .then( res => {

              if( this.item  ){ Eventer.$emit('patchMile', res.data) }
              if( !this.item ){ Eventer.$emit('addMile', res.data) }
              this.dismiss();
              this.reset();

          })
          .catch( err => console.log(err))

      },

      validate () {

        if (this.$refs.form.validate()) {
        
          this.snackbar = true

          // submit to the backend
          this.persist();


        }

        // Flash with something wrong happened

      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {

        this.$refs.form.resetValidation()
      
      },
    },
  }
</script>

