<template>
    
    <v-col cols="12">
    
    
    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
    >

    <v-row>

    <v-col cols="6">
      <v-text-field
        v-model="phone"
        :counter="11"
        type="number"
        :rules="phoneRules"
        label="Your Phone Number"
        required
      ></v-text-field>

      </v-col>


    <v-col cols="6">
       <v-text-field
            v-model="NameEn"
            :rules="nameRules"
            :counter="10"
            label="English Name"
            required
          ></v-text-field>
    </v-col>

    <v-col cols="6">
       <v-text-field
            v-model="NameAr"
            :rules="nameRules"
            :counter="10"
            label="Arabic Name"
            required
          ></v-text-field>
    </v-col>

      <v-col cols="6">
      <v-text-field
        v-model="email"
        :rules="emailRules"
        label="E-mail"
        required
      ></v-text-field>
      </v-col>

    </v-row>


          <!-- :append-icon-cb="toggleEye" -->
        <v-text-field
          label="Enter your password"
          v-model="password"
          min="8"
          :append-icon="e1 ? 'visibility' : 'visibility_off'"
          @click:append="() => (e1 = !e1)"
          :type="e1 ? 'password' : 'text'"
          :rules="passwordRules"
          counter
          required
        ></v-text-field>

      

      
       <!-- :disabled="!valid" -->
      <v-btn
        color="success"
        class="mr-4"
        @click="validate"
      >
        Submit
      </v-btn>

      <v-btn
        color="error"
        class="mr-4"
        @click="reset"
      >
        clear
      </v-btn>

    
    </v-form>

   </v-col>


</template>


<script>



  export default {
    data: () => ({
      valid: true,
      e1: true,
      NameEn:'',
      NameAr:'',
      phone: '',
      email: '',
      password: '',
      snackbar:false,

      nameRules: [
        v => !!v || 'Name is required',
        // v => v.length <= 10 || 'Name must be less than 10 characters',
      ],

      phoneRules: [
        v => !!v || 'Name is required',
        // v => (v && v.length <= 11) || 'Phone must be less than 11 characters',
      ],
      passwordRules: [
        (v) => !!v || 'Password is required',
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      select: null,
      items: [
        'Item 1',
        'Item 2',
        'Item 3',
        'Item 4',
      ],
      checkbox: false,
      lazy: false,
    }),
    methods: {
      toggleEye(){

        this.e1 = !this.e1

      },

      persist(){


      },

      validate () {

        if (this.$refs.form.validate()) {
        
          this.snackbar = true

          // submit to the backend


        }

        // Flash with something wrong happened

      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {

        this.$refs.form.resetValidation()
      
      },
    },
  }
</script>

