<template>
    

    <v-card>
        <v-card-title class="grey darken-2">
          {{title }} Organization
        </v-card-title>
        <v-container>
    <v-col cols="12">
    
    
    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
    >

    <v-row>



    <v-col cols="6">
       <v-text-field
            v-model="NameEn"
            :rules="nameRules"
            :counter="10"
            label="English Name"
            required
          ></v-text-field>
    </v-col>

    <v-col cols="6">
       <v-text-field
            v-model="NameAr"
            :rules="nameRules"
            :counter="10"
            label="Arabic Name"
            required
          ></v-text-field>
    </v-col>

    </v-row>
  
       
    
    </v-form>

   </v-col>

   </v-container>
        <v-card-actions>
          <v-btn
            text
            @click="reset"
            color="warning"
          >Clear</v-btn>

        


          <div class="flex-grow-1"></div>
          
          <v-btn
            text
            color="error"
            @click="dismiss"
          >Cancel</v-btn>

          <v-btn
            text
            color="success"
            @click="validate"
          >Save</v-btn>

          
        </v-card-actions>
      </v-card>


</template>


<script>


 import Api from '../../Api.js'

//  NOTES: useing item to determine post OR put as a flag

// if (item )  than PUT
// if (!item) than POST


  export default {

    props:['item'],

    data() {


    return {

            valid: true,
            e1: true,
            NameEn: (this.item && this.item.NameEn )  ?  this.item.NameEn : '' ,
            NameAr: (this.item && this.item.NameAr )  ?  this.item.NameAr : '' ,
            snackbar:false,

            nameRules: [
                v => !!v || 'Name is required',
                // v =>  (v  && v.length <= 10 ) || 'Name must be less than 10 characters',
            ],

            lazy: false,
      }
    },

    watch:{

        item(){

            if(this.item){

                this.NameEn = this.item.NameEn;
                this.NameAr = this.item.NameAr;
                return ;
            }

            this.NameEn = '';
            this.NameAr = '';

        }

    },

    computed:{

        endPoint(){

            return this.item ? `/organizations/${this.item.ID}` : '/organizations';
        },

        title(){

             return this.item ? 'Update' : 'Create';

        }

    },
    methods: {

      dismiss(){

          Eventer.$emit('dismissDialog');

      },

      persist(){

          let method = this.item ? 'put' : 'post';
          
          Api.query(method, this.endPoint, {

              nameEn: this.NameEn, 

              nameAr: this.NameAr

          })
          .then( res => {

              if( this.item ){ Eventer.$emit('patchOrg', res.data) }
              if( !this.item ){ Eventer.$emit('addOrg', res.data) }
              this.dismiss();
              this.reset();

          })
          .catch( err => console.log(err))

      },

      validate () {

        if (this.$refs.form.validate()) {
        
          this.snackbar = true

          // submit to the backend
          this.persist();


        }

        // Flash with something wrong happened

      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {

        this.$refs.form.resetValidation()
      
      },
    },
  }
</script>

