<template>
    

    <v-card>
        <v-card-title class="grey darken-2">
          {{title }} Transaction
        </v-card-title>
        <v-container>
    <v-col cols="12">
    
    
    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
    >
 <v-row>

     <v-col cols="12" >
        <v-textarea
          solo
          name="input-7-4"
          label="Want to write something"
          v-model="notes"
          :rules="notesRules"
        ></v-textarea>
      </v-col>

    </v-row>
    
    </v-form>

   </v-col>

   </v-container>
        <v-card-actions>
          <v-btn
            text
            @click="reset"
            color="warning"
          >Clear</v-btn>


          <div class="flex-grow-1"></div>
          
          <v-btn
            text
            color="error"
            @click="dismiss"
          >Cancel</v-btn>

          <v-btn
            text
            color="success"
            @click="validate"
          >Save</v-btn>

          
        </v-card-actions>
      </v-card>


</template>


<script>


 import Api from '../../Api.js'

//  NOTES: useing item to determine post OR put as a flag

// if (item )  than PUT
// if (!item) than POST


  export default {

    props:['item'],

    data() {


    return {

            valid: true,
            e1: true, 
            notes: (this.item && this.item.Notes )  ?  this.item.Notes : '' ,
            snackbar:false,

            notesRules: [
                v => !!v || 'notes is required',
            ],

            lazy: false,
      }
    },

    watch:{

        item(){

            if(this.item){

                this.notes = this.item.Notes;
                return ;
            }

            this.notes = '';

        }

    },

    computed:{

        endPoint(){

            return this.item ? `/transactions/${this.item.ID}` : '/transactions';
        },

        title(){

             return this.item ? 'Update' : 'Create';

        }

    },
    methods: {

      dismiss(){

          Eventer.$emit('dismissDialog');

      },

      persist(){

          let method = this.item ? 'put' : 'post';
          
          Api.query(method, this.endPoint, {

              notes: this.notes, 

          })
          .then( res => {

              if( this.item ){ Eventer.$emit('patchTran', res.data) }
              this.dismiss();
              this.reset();

          })
          .catch( err => console.log(err))

      },

      validate () {

        if (this.$refs.form.validate()) {
        
          this.snackbar = true

          // submit to the backend
          this.persist();


        }

        // Flash with something wrong happened

      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {

        this.$refs.form.resetValidation()
      
      },
    },
  }
</script>

