<template>
  
  <div>

    <v-container>
    <v-row
    
        class="mb-6"
    
          no-gutters
        >
          <v-col cols="12" >
            <v-card class="table-responsive">
                <v-card-title>
                  Transactions
                  <div class="flex-grow-1"></div>
                  <v-text-field

                  v-if="false"
                    v-model="filterBy"

                    @keyup.enter="searchItems"

                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>

                  <!-- :headers="headers" -->
                  <!-- :items="desserts" -->

                  <!-- v-if="orders.length > 0" -->
                  <!-- class="elevation-1" -->

                  <table-component
     :data="items"
     table-class="table"
     sort-by="CreatedAt"
     sort-order="desc"

     :show-filter="false"
>
     <table-column show="ID" label="ID"></table-column>
     <table-column show="Kind" label="Kind"></table-column>
     <table-column show="Notes" label="Notes"></table-column>
     <table-column show="Price" label="Price"></table-column>
     <table-column show="Currency" label="Currency"></table-column>
     <table-column show="Quantity" label="Quantity"></table-column>
    <table-column show="Date" label="Accuracy Date" data-type="date:DD/MM/YYYY"></table-column>
    <table-column show="CreatedAt" label="CreatedAt" data-type="date:DD/MM/YYYY"></table-column>
     <table-column show="UpdatedAt" label="UpdatedAt" data-type="date:DD/MM/YYYY"></table-column>
     <table-column label="" :sortable="false" :filterable="false">
         <template slot-scope="row">
            <a  @click.prevent="update" :id="row.ID" :href="`#${row.ID}`">Edit</a>
         </template>
     </table-column>
 </table-component>
              
                    
             <paginator @changed="renewItems" :endPoint="`/transactions?page=`"></paginator>
                </v-card>

          </v-col>

    </v-row>

  </v-container>
  </div>
</template>

<script>

  import Api from '../../Api.js'
  import Paginator from '../../components/Paginator';

export default {

  components:{
    Paginator
  },

  data(){

    return {

      filterBy: '', 

      items: [],

    }

  },

  mounted(){

    this.fetch();

    Eventer.$on('patchTran', item => {

      let index = _.findIndex(this.items, {ID: item.ID});

      // Replace item at index using native splice
       this.items.splice(index, 1, item);

    });

  },

  computed:{


    endPoint(){

      return '/transactions';

    }

  },

  methods:{


    fetch(){

        Api.get(this.endPoint).then((response) =>  {

						this.items = response.data

					})
					.catch( (response) =>  {
          
          
              console.log(response)
          
          
          })



    },

      renewItems({ page, items}){

        this.items = items

      },

      update(event){



        // let item =  _.find(this.items, 'ID', event.target.id );
        let item =  _.find(this.items, ['ID', parseInt(event.target.id) ]);
        
        Eventer.$emit('loadItemToDialog', item);

      },

      searchItems() {
 
				Api.get('/transactions'+ '?search=' + this.filterBy)
					.then((response) =>  {

						this.items = response.data

					})
					.catch( (error) =>  {
          
          
              console.log(error)
          
          
          })
          
          
      },    



  }
  
}
</script>

<style scoped>

</style>