<template>
    <v-container
        class="fill-height"
        fluid
      >

    <v-row>

    <v-col cols="12">
    <v-row 

          class="grey lighten-5"
          justify="center"
          align="center">
    
    <!-- <v-row justify="space-around">
      <v-switch v-model="valid" class="ma-4" label="Valid" readonly></v-switch>
      <v-switch v-model="lazy" class="ma-4" label="Lazy"></v-switch>
    </v-row> -->

    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
    >
      <!-- <v-text-field
        v-model="phone"
        :counter="11"
        type="number"
        :rules="phoneRules"
        label="Your Phone Number"
        required
      ></v-text-field> -->

      <v-text-field
        v-model="email"
        :rules="nameRules"
        label="Username"
        required
      ></v-text-field>


          <!-- :append-icon-cb="toggleEye" -->
        <v-text-field
          label="Enter your password"
          v-model="password"
          min="8"
          :append-icon="e1 ? 'visibility' : 'visibility_off'"
          @click:append="() => (e1 = !e1)"
          :type="e1 ? 'password' : 'text'"
          :rules="passwordRules"
          counter
          required
        ></v-text-field>

      

      
       <!-- :disabled="!valid" -->
      <v-btn
        color="success"
        class="mr-4"
        @click="validate"
      >
        Submit
      </v-btn>

      <v-btn
        color="error"
        class="ml-6"
        v-if="snackbar"
        @click="reset"
      >
        clear
      </v-btn>

    
    </v-form>

  </v-row>
    </v-col>

    </v-row>
      
      </v-container>
</template>


<script>



  export default {

    mounted(){


      document.body.addEventListener( 'keyup',  (e) => {
        if ( e.keyCode == 13 ) {
          // Simulate clicking on the submit button.
          this.validate();
        }
      });

    },

    data: () => ({
      valid: true,
      e1: true,
      phone: '',
      email: '',
      password: '',
      snackbar:false,
      phoneRules: [
        v => !!v || 'Name is required',
        // v => (v && v.length <= 11) || 'Phone must be less than 11 characters',
      ],
      nameRules: [
        v => !!v || 'userName is required',
      ],
      passwordRules: [
        (v) => !!v || 'Password is required',
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      select: null,
      items: [
        'Item 1',
        'Item 2',
        'Item 3',
        'Item 4',
      ],
      checkbox: false,
      lazy: false,
    }),
    methods: {
      toggleEye(){

        this.e1 = !this.e1

      },

      persist(){


      },

      validate () {

        if (this.$refs.form.validate()) {
        
          this.snackbar = true

          let credentail = {

            username: this.email,
            password: this.password
          }

          Auth.signIn(credentail)
          .then(res => {

              this.$router.push({ name: "projects"})

              Eventer.$emit('loggedInSuccess');

              window.v.$notify({
                        group: 'foo',
                        title: 'Login successfully..',
                        type: 'success',
                        text: 'Welcome back   ' + this.email
                      });

          })
          .catch(err => {

               window.v.$notify({
                        group: 'foo',
                        title: 'Access denied..',
                        type: 'error',
                        text: 'Username or password wrong' 
                      });


          })

        
        }

      },
      reset () {
        this.$refs.form.reset()
        this.snackbar = false
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
    },
  }
</script>