<template>
    

    <v-card>
        <v-card-title class="grey darken-2">
          {{title }} Product
        </v-card-title>
        <v-container>
    <v-col cols="12">
    
    
    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
    >

    <v-row>



    <v-col cols="6">
       <v-text-field
            v-model="NameEn"
            :rules="nameRules"
            :counter="10"
            label="English Name"
            required
          ></v-text-field>
    </v-col>

    <v-col cols="6">
       <v-text-field
            v-model="NameAr"
            :rules="nameRules"
            :counter="10"
            label="Arabic Name"
            required
          ></v-text-field>
    </v-col>

    </v-row>


    <v-row>



    <v-col cols="6">

        <v-text-field

        v-if="! isUpdate"
        v-model="Quantity"
        :counter="11"
        type="number"
        :rules="QuantityRules"
        label="Quantity"
        required
      ></v-text-field>
    </v-col>

    

    </v-row>


    <v-row>
      <v-col cols="12">

        <v-combobox

          v-if="productItems.length"
          v-model="selectedItems"
          :items="productItems"
          :rules="rules"
          required
          item-text="NameEn"
          label="Select Product Items"
          multiple
          chips
          v-on:update:search-input="searchItems"
          v-on:input="handleInput"
        >
        
        </v-combobox>

        <div class="item-required" v-if="( !selectedItems.length && snackbar) || ( !inputedItems.length && snackbar)  " >

          You shall provide  items to this product to continue 

        </div>


                

        

      </v-col>
      <!-- v-if="!selectedItems && snackbar " -->

      <v-col cols="12">

       
            <!-- width: 80px; -->

          <p v-for="(pitem, i) in inputedItems"  :key="i" style="

            height: 30px;
            background: #e0e0e0;
            color: rgba(0, 0, 0, 0.87);
            border: 2px solid #c4c4c4;
            display: inline;
            border-radius: 20px;
            position: relative;
            margin-right:10px;
          
          ">

            {{ pitem.NameEn  }}

             <!-- position: absolute; -->
            <input  type="number" min="0" step="1" style="
            
              margin-left: 5px;
              width: 50px;
              font-weight: 400;
              font-size: 17px;
              border:2px solid #000;
              border-radius: 5px;

            
            "

            
            
            v-model="pitem.Count">
          
          </p>

        

      </v-col>
      

    </v-row>
  
    </v-form>

   </v-col>

   </v-container>
        <v-card-actions>
          <v-btn
            text
            @click="reset"
            color="warning"
          >Clear</v-btn>



          <div class="flex-grow-1"></div>
          
          <v-btn
            text
            color="error"
            @click="dismiss"
          >Cancel</v-btn>

          <v-btn
            text
            color="success"
            @click="validate"
          >Save</v-btn>

          
        </v-card-actions>
      </v-card>


</template>


<script>


 import Api from '../../Api.js'

//  NOTES: useing item to determine post OR put as a flag

// if (item )  than PUT
// if (!item) than POST


  export default {

    props:['item'],

    data() {


    return {
            filterBy: '', 
            valid: true,
            e1: true,
            NameEn: (this.item && this.item.NameEn )  ?  this.item.NameEn : '' ,
            NameAr: (this.item && this.item.NameAr )  ?  this.item.NameAr : '' ,
            Quantity: (this.item && this.item.Quantity )  ?  this.item.Quantity : '' ,
            selectedItems: (this.item && this.item.Items ) ? this.item.Items : [],

            inputedItems: (this.item && this.item.Items ) ? this.item.Items : [],

            productItems: [],

            submit: false,

            // originalPartNumber: (this.item && this.item.originalPartNumber )  ?  this.item.originalPartNumber : '' ,

            // PartNumber: (this.item && this.item.PartNumber )  ?  this.item.PartNumber : '' ,
            // Price: (this.Price && this.item.Price )  ?  this.item.Price : '' ,

            snackbar:false,

            QuantityRules: [
              v => !!v || 'Quantity is required',
              // v => (v && v.length <= 2) || 'Quantity must be less than 2 characters',
            ],

            rules: [
              v => !!v || 'The value is required'
            ],

            nameRules: [
                v => !!v || 'Name is required',
                // v =>  (v  && v.length <= 10 ) || 'Name must be less than 10 characters',
            ],
            originalRules: [
                v => !!v || 'Original Part Number is required',
                // v =>  (v  && v.length <= 10 ) || 'Original Part Number must be less than 10 characters',
            ],
            

            lazy: false,
      }
    },

    mounted(){

      this.getProductItems();

    },

    watch:{

        item(){

            if(this.item){

                this.NameEn = this.item.NameEn;
                this.NameAr = this.item.NameAr;
                this.Quantity = this.item.Quantity;
                this.selectedItems = this.item.Items;
                this.inputedItems = this.item.Items;
                // this.originalPartNumber = this.item.originalPartNumber;

                // this.PartNumber = '';

                // this.Price = '';


                return ;
            }

            this.resetItem();

        }

    },

    computed:{

        endPoint(){

            return this.item ? `/products/${this.item.ID}` : '/products';
        },
        title(){

             return this.item ? 'Update' : 'Create';

        },

        isUpdate(){

            return this.item ? true : false ;

        }

    },
    methods: {


      handleInput(data){

        data = _.filter(data, (item) =>{

          return !this.isString(item)

        })

        this.inputedItems = data;

      },

      isString(x) {
        return Object.prototype.toString.call(x) === "[object String]"
      },

      resetItem(){

        this.NameEn = '';
        this.NameAr = '';
        this.Quantity = '';
        this.selectedItems = [];
        // this.originalPartNumber = '';

        // this.PartNumber = '';

        // this.Price = '';

      },

      dismiss(){

          Eventer.$emit('dismissDialog');

      },

      searchItems(filterBy) {
        

        if(! filterBy) return ;

				Api.get('/items'+ '?search=' + filterBy)
					.then((response) =>  {

            if(response.data.length) this.productItems = response.data

					})
					.catch( (error) =>  {
          
          
              console.log(error)
          
          
          })
          
          
      },   


      getProductItems(){

           Api.get('/items').then((response) =>  {

						this.productItems = response.data

					})
					.catch( (error) =>  {
          
          
              console.log(error)
          
          
          })


      },

      persist(){


          let inputedItems = _.map(this.inputedItems, (inputedItem)=> {

                return {
                  id: inputedItem.ID,
                  quantity: parseInt(inputedItem.Quantity)

                }

              });

          let method = this.item ? 'put' : 'post';
          
          Api.query(method, this.endPoint, {

              nameEn: this.NameEn, 

              nameAr: this.NameAr,

              quantity:  parseInt(this.Quantity),

              items:  inputedItems
              
              // originalPartNumber: this.originalPartNumber,

              // PartNumber: this.PartNumber,

              // Price: this.Price

          })
          .then( res => {

              if( this.item ){ Eventer.$emit('patchProduct', res.data.product) }
              if( !this.item ){ Eventer.$emit('addProduct', res.data.product) }
              this.dismiss();
              this.reset();

          })
          .catch( err => console.log(err))

      },

      validate () {

        this.snackbar = true

        if (this.$refs.form.validate() && this.inputedItems.length ) {
        

          // submit to the backend
          this.persist();


        }

        // Flash with something wrong happened

      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {

        this.$refs.form.resetValidation()
      
      },
    },
  }
</script>


<style lang="css">

.item-required{

  color: #ff5252 !important;
  margin-top: 20px;
  display: block;

}

.inputed-item {
    width: 80px;
    height: 30px;
    background: #ccc;
    color: black;
    border: 2px solid #c4c4c4;
    display: inline;
    border-radius: 20px;
    position: relative;

}


.item-quantity{

  position: absolute;
    margin-left: 5px;
    width: 30px;
    font-weight: 400;
    font-size: 17px;

}


</style>

