<template>
  
  <div>

    <v-container>
    <v-row
    
        class="mb-6"
    
          no-gutters
        >
          <v-col cols="12" >
            <v-card class="">
                <v-card-title>
                  Products
                  <div class="flex-grow-1"></div>
                  <v-text-field
                    v-model="filterBy"

                    @keyup.enter="searchItems"

                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                </v-card-title>

                  <!-- :headers="headers" -->
                  <!-- :items="desserts" -->

                  <!-- v-if="orders.length > 0" -->
                  <!-- class="elevation-1" -->

                  <table-component
     :data="items"
     table-class="table table-responsive"
     sort-by="CreatedAt"
     sort-order="desc"

     :show-filter="false"
>
     <table-column show="ID" label="ID"></table-column>
     <table-column show="NameAr" label="NameAr"></table-column>
     <table-column show="NameEn" label="NameEn"></table-column>



     <table-column label="ITEMS" :sortable="false" :filterable="false">    

     <template slot-scope="row">

       <v-col cols="12">

       
            <!-- width: 80px; -->

          <p v-for="(pitem, i) in row.Items"  :key="i" style="

            height: 30px;
            padding:5px;
            background: #e0e0e0;
            color: rgba(0, 0, 0, 0.87);
            border: 2px solid #c4c4c4;
            border-radius: 20px;
            margin:5px;
            position: relative;
            text-align: center;

          
          ">
            <!-- display: inline; -->

            {{ pitem.NameEn  }}

          </p>

        

      </v-col>

         </template>
         
     </table-column>

     <table-column show="Quantity" label="Quantity"></table-column>
     <table-column show="PartNumber" label="PartNumber"></table-column>
    <table-column show="CreatedAt" label="CreatedAt" data-type="date:DD/MM/YYYY"></table-column>
     <table-column show="UpdatedAt" label="UpdatedAt" data-type="date:DD/MM/YYYY"></table-column>
     <table-column label="" :sortable="false" :filterable="false">    
      <template slot-scope="row">

          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </button>

            <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item"  @click.prevent="update" :id="row.ID" href="#">Edit</a>
              <a class="dropdown-item"  @click.prevent="sell" :id="row.ID" href="#">Sell</a>
              <a class="dropdown-item"  @click.prevent="manufacture" :id="row.ID" href="#">Manufacture</a>
            </div>
          
          </div>
      
         </template>
     </table-column>
    </table-component>
              
                    
             <paginator @changed="renewItems" :endPoint="`/products?page=`"></paginator>
                </v-card>

          </v-col>

    </v-row>

  </v-container>
  </div>
</template>

<script>

  import Api from '../../Api.js'
  import Paginator from '../../components/Paginator';

export default {

  components:{
    Paginator
  },

  data(){

    return {

      filterBy: '', 

      items: [],

      links: [{
        title: 'Edit',
        action:'update'
      }
      ,{
        title: 'Sell',
        action:'sell'
      }
      ,{
        title: 'Manufacture',
        action:'manufacture'
      },]

    }

  },

  mounted(){

    this.fetch();

    Eventer.$on('patchProduct', item => {

      let index = _.findIndex(this.items, {ID: item.ID});

      // Replace item at index using native splice
       this.items.splice(index, 1, item);

    });

    Eventer.$on('decreaseQuantity', (data) => {

      let index = _.findIndex(this.items, {ID: data.productId});

      let item = this.items[index];

      item.Quantity = parseInt(item.Quantity)  -  data.quantity;

      // Replace item at index using native splice
       this.items.splice(index, 1, item);

    });

    Eventer.$on('increaseQuantity', (data) => {

      let index = _.findIndex(this.items, {ID: data.productId});

      let item = this.items[index];

      item.Quantity = parseInt(item.Quantity)  +  data.quantity;

      // Replace item at index using native splice
       this.items.splice(index, 1, item);

    });

    

    Eventer.$on('addProduct', item => {

      // this.items.push(item);

      this.items.unshift(item);


    });

  },

  computed:{


    endPoint(){

      return '/products';

    }

  },

  methods:{


    fetch(){

        Api.get(this.endPoint).then((response) =>  {

						this.items = response.data

					})
					.catch( (response) =>  {
          
          
              console.log(response)
          
          
          })



    },

      renewItems({ page, items}){

        this.items = items

      },

      sell(event){

        let ID = parseInt(event.target.id);

        Eventer.$emit('loadSellForm', ID);


      },

      manufacture(event){

        let ID = parseInt(event.target.id);

        Eventer.$emit('loadManufactureForm', ID);

      },

      update(event){
        
        let item =  _.find(this.items, ['ID', parseInt(event.target.id) ]);
        
        Eventer.$emit('loadItemToDialog', item);

      },

      searchItems() {
 
				Api.get('/products'+ '?search=' + this.filterBy)
					.then((response) =>  {

						this.items = response.data

					})
					.catch( (error) =>  {
          
          
              console.log(error)
          
          
          })
          
          
      },    



  }
  
}
</script>

<style scoped>

</style>