<template>
    

    <v-card>
        <v-card-title class="grey darken-2">
          manufacture Product
        </v-card-title>
        <v-container>
    <v-col cols="12">
    
    
    <v-form
      ref="form"
      v-model="valid"
      :lazy-validation="lazy"
    >




    <v-row>



    <v-col cols="12">

        <v-text-field
        v-model="Quantity"
        :counter="11"
        type="number"
        :rules="QuantityRules"
        label="Quantity"
        required
      ></v-text-field>
    </v-col>



    </v-row>

    </v-form>

   </v-col>

   </v-container>
        <v-card-actions>
          <v-btn
            text
            @click="reset"
            color="warning"
          >Clear</v-btn>



          <div class="flex-grow-1"></div>
          
          <v-btn
            text
            color="error"
            @click="dismiss"
          >Cancel</v-btn>

          <v-btn
            text
            color="success"
            @click="validate"
          >Save</v-btn>

          
        </v-card-actions>
      </v-card>


</template>


<script>


 import Api from '../../Api.js'

//  NOTES: useing item to determine post OR put as a flag

// if (item )  than PUT
// if (!item) than POST


  export default {

    props:['productId'],

    data() {


    return {

            valid: true,
            e1: true,
            Quantity: '' ,

            submit: false,

            snackbar:false,

            QuantityRules: [
              v => !!v || 'Quantity is required',
              // v => (v && v.length <= 2) || 'Quantity must be less than 2 characters',
            ],

            rules: [
              v => !!v || 'The value is required'
            ],

            nameRules: [
                v => !!v || 'Name is required',
                // v =>  (v  && v.length <= 10 ) || 'Name must be less than 10 characters',
            ],
            originalRules: [
                v => !!v || 'Original Part Number is required',
                // v =>  (v  && v.length <= 10 ) || 'Original Part Number must be less than 10 characters',
            ],
            

            lazy: false,
      }
    },

    mounted(){


    },

    watch:{

        productId(){

            if(this.productId){

                this.productId = this.productId;
           
                return ;
            }

            this.resetItem();

        }

    },

    computed:{

        endPoint(){

          
            return `/products/${this.productId}/manufacture/` ;
        },
        

    },
    methods: {

      resetItem(){

        this.productId = '';

      },

      dismiss(){

          Eventer.$emit('dismissDialog');

      },

      persist(){

          Api.query('post', this.endPoint, {

              quantity:  parseInt(this.Quantity),

          })
          .then( res => {

            Eventer.$emit('increaseQuantity', {
                productId: this.productId,
                quantity: parseInt(this.Quantity)

              });

              window.v.$notify({
                        group: 'foo',
                        title: 'Done..',
                        type: 'success',
                        text: 'Transaction completed successfully'
                      });


              this.dismiss();
              this.reset();

          })
          .catch( err => {

              window.v.$notify({
                        group: 'foo',
                        title: 'Out of stock..',
                        type: 'error',
                        text: err.response.data.error
                      });

            this.reset();


          })

      },

      validate () {

        this.snackbar = true

        if (this.$refs.form.validate() ) {
        

          // submit to the backend
          this.persist();


        }

        // Flash with something wrong happened

      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {

        this.$refs.form.resetValidation()
      
      },
    },
  }
</script>


<style lang="css">

.item-required{

  color: #ff5252 !important;
  margin-top: 20px;
  display: block;

}

.inputed-item {
    width: 80px;
    height: 30px;
    background: #ccc;
    color: black;
    border: 2px solid #c4c4c4;
    display: inline;
    border-radius: 20px;
    position: relative;

}


.item-quantity{

  position: absolute;
    margin-left: 5px;
    width: 30px;
    font-weight: 400;
    font-size: 17px;

}


</style>

