<template>
    
    <div>
    
      <!-- :clipped="$vuetify.breakpoint.lgAndUp" -->
      <!-- v-if="drawer" -->
    <v-navigation-drawer
        v-model="drawer"
      app
    >
      <v-list dense>
    
        <template v-for="item in items">

          <v-row v-if="item.heading"
            
            
            :key="item.heading"
              align="center"
          >

            <v-col cols="6">
          
              <v-subheader v-if="item.heading">
              
                {{ item.heading }}
              
              </v-subheader>

            </v-col>

            <v-col
              cols="6"
              class="text-center"
            >
              <a
                href="#!"
                class="body-2 black--text"
              >EDIT</a>

            </v-col>

          </v-row> 
          <!-- End of first if -->

          <v-list-group
            v-else-if="item.children"
            :key="item.text"
            v-model="item.model"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon=""
          >
            <template v-slot:activator>

              <v-list-item>
              
                <v-list-item-content>
              
                  <v-list-item-title>
              
                    {{ item.text }}
              
                  </v-list-item-title>
              
                </v-list-item-content>
              
              </v-list-item>
            
            </template>
            
            <v-list-item
            
              v-for="(child, i) in item.children"
            
              :key="i"
            
              @click="ON"
            >
              
              <v-list-item-action v-if="child.icon">
              
                <v-icon>{{ child.icon }}</v-icon>
              
              </v-list-item-action>
              
              <v-list-item-content>
              
                <v-list-item-title>
              
                  {{ child.text }}
              
                </v-list-item-title>
              
              </v-list-item-content>
            
            </v-list-item>
          
          </v-list-group>

          <!-- End of secand if -->
          
          <v-list-item
          
            v-else
          
            :key="item.text"

            router :to="item.route"
          
            @click="ON"
          
          >
            <v-list-item-action>
             
              <v-icon>{{ item.icon }}</v-icon>
            
            </v-list-item-action>
            
            <v-list-item-content>
            
              <v-list-item-title>
            
                {{ item.text }}
            
              </v-list-item-title>
            
            </v-list-item-content>
          
          </v-list-item>

          <!-- End if third if -->
        
        </template>
      
      </v-list>
    
    </v-navigation-drawer>


    <v-app-bar
    
      :clipped-left="$vuetify.breakpoint.lgAndUp"
    
      app
    
      color="blue darken-3"
    
      dark
    >
      <v-toolbar-title
        style="width: 300px"
        class="ml-0 pl-4"
      >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <span class="hidden-sm-and-down">SV D</span>
      </v-toolbar-title>

      <div class="flex-grow-1"></div>


      <router-link to="/login" v-if="$parent.loggedIn" > <span class="color-white"> Login</span> </router-link>

      <a href="" @click.prevent="logout" v-if=" !$parent.loggedIn" > <span class="color-white"> logout</span> </a>

    
     
      <!-- <v-btn icon>
        <v-icon>mdi-apps</v-icon>
      </v-btn> -->

      <!-- <v-btn icon>

        <v-icon>mdi-bell</v-icon>

      </v-btn> -->
      
      <!-- <v-btn
        icon
        large
      >
        <v-avatar
          size="32px"
          item
        >
          <v-img
            src="https://cdn.vuetifyjs.com/images/logos/logo.svg"
            alt="Vuetify"
          >
          </v-img></v-avatar>
      </v-btn> -->
    </v-app-bar>


    </div>

</template>

<script>

  export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: true,
      items: [
        { icon: 'content_copy', text: 'Projects' , route: '/projects' },
        
        { icon: 'map', text: 'Transactions', route: '/transactions' },
        // { icon: 'history', text: 'Workers' , route: '/workers' },
        { icon: 'content_copy', text: 'Products' , route: '/products' },

        { icon: 'content_copy', text: 'Items' , route: '/items' },

        { icon: 'content_copy', text: 'Organization' , route: '/organization' },
        // {
        //   icon: 'keyboard_arrow_up',
        //   'icon-alt': 'keyboard_arrow_down',
        //   text: 'Labels',
        //   model: true,
        //   children: [
        //     { icon: 'add', text: 'Create label' },
        //   ],
        // },
        // {
        //   icon: 'keyboard_arrow_up',
        //   'icon-alt': 'keyboard_arrow_down',
        //   text: 'More',
        //   model: false,
        //   children: [
        //     { text: 'Import' },
        //     { text: 'Export' },
        //     { text: 'Print' },
        //     { text: 'Undo changes' },
        //     { text: 'Other contacts' },
        //   ],
        // },
      
      ],
    }),

    methods:{

      ON(){



      },

      logout(){

          Auth.logout();

          Eventer.$emit('logout');

          this.$router.push({ name: "login"})


      }


    }
  }
</script>

<style lang="css">

  .color-white{

    color: white;

  }



</style>