<template>
	
	<div class="pagination" style="margin-top:20px" v-if="shouldPaginate">
		
		  <ul  class="pagination">

		    <li class="page-item" 
			
			
				v-show="prevUrl" 
		    		
					
						@click.prevent="prevPage"
		    >
		    
		      <a class="page-link" href="#" aria-label="Previous" rel="prev"
		       >
		      
		        <span aria-hidden="true">&laquo;Previous</span>
		        <span class="sr-only">Previous</span>
		      
		      </a>

		    </li>

			<!-- <v-btn class="btn theme--dark red"  fab> -->
			<li class="current-page">	
        		<v-badge top color="green">
          		
				  	<span slot="badge">{{ page }}</span>
          			<!-- <v-icon>mic</v-icon> -->
        		</v-badge>

      		</li>
			  <!-- </v-btn>  -->

			<!-- <li class="page-item"> -->

				<!-- <v-badge top color="green"> -->
					<!-- {{ page }} -->
					<!-- <span slot="badge"> {{ page }} </span> -->
					
				<!-- </v-badge> -->
				
			<!-- </li> -->


		    
		    <!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->
		    
		   

		    <li class="page-item" 
			
				v-show="nextUrl"
		    		
					@click.prevent="nextPage"
		    >
		      
		      <a class="page-link" href="#" aria-label="Next" rel="next"
		       >
		       
		        <span aria-hidden="true">Next&raquo;</span>
		        
		        <span class="sr-only">Next</span>
		      
		      </a>

		    </li>
		  </ul>
		

	</div>

</template>


<script>

	import Api from '../Api'

	export default{

		props:['endPoint'],

		data(){
			return {
		
				page: 1,
		
				prevUrl:true,
		
				nextUrl:true,

				items: []

			};
		},

		watch:{
		
			items(){
				
				

	
			},

			

		},

		computed: {

			shouldPaginate() {
				// return !!this.prevUrl || !!this.nextUrl;
				
				return true;

				if(this.prevUrl || this.nextUrl){
					return true ;
				}
				return false;
			}

		}, 

		methods: {
			
			prevPage(){
				
				if( this.page == 1 ){ 
					return ;
				}
				
				this.page--

				this.renew();

			},

			nextPage(){
				
				if(!this.items.length && this.page != 1 ){
					return ;
				}
				
				this.page++

				this.renew();

			},
			renew(){

				Api.get(this.endPoint + this.page ).then((response) =>  {
						
						this.items = response.data;

						if( this.items.length ){

							this.broadcast();

							return;

						}

						this.page--
						
						

					})
					.catch( (response) =>  {
						console.log(response)
					})



			},

			broadcast(){
				this.$emit('changed', { page: this.page, items: this.items });
				//updated this.page		
				return this;	
			},

		}
	}

</script>


<style lang="css">

.current-page{

	width: 20px;
    margin-right: 3px;

}
</style>