<template>
  <v-app id="inspire">
    
    <Nav v-if="loggedIn" />
   
    <v-content>
          <router-view></router-view>
    </v-content>

    <notifications group="foo" />
    <Flash/>
    
    <v-btn

    

      v-if="loggedIn && $route.path != '/transactions' "
      bottom
      color="pink"
      dark
      fab
      fixed
      right
      @click="create"
    >
    
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <v-dialog
      
        v-model="dialog"
     
          width="800px"

           v-on:click:outside="clear"
    >

          <transaction-form  v-if=" $route.path == '/transactions' "   :item="item" ></transaction-form>
          <org-form  v-if=" $route.path == '/organization' "   :item="item" ></org-form>
          <item-form v-if=" $route.path == '/items' && !subForm  " :item="item" ></item-form>
          <product-form v-if=" $route.path == '/products' && !form " :item="item" ></product-form>
          <project-form v-if=" $route.path == '/projects' && !subForm " :item="item" ></project-form>
          <sell-form v-if=" $route.path == '/products' && subForm && form == 'sell' " :productId="subForm" ></sell-form>
          <Manfacture-form v-if=" $route.path == '/products' && subForm && form == 'manufacture' " :productId="subForm" ></Manfacture-form>
          <buy-form v-if=" $route.path == '/items' && subForm && form == 'buy' " :itemId="subForm" ></buy-form>
          <MilestoneFinishedAt v-if=" $route.path == '/projects' && subForm && form == 'milestoneFinishedAt' " :milstoneId="subForm" ></MilestoneFinishedAt>
          <ProjectMileStoneForm v-if=" $route.path == '/projects' && subForm && !form  " :projectId="subForm"  :item="item" ></ProjectMileStoneForm>

    </v-dialog>
  </v-app>
</template>

<script>
import Nav from './components/BarPlusNav'
import Flash from './components/Flash'

import OrgForm from './views/Organization/Form.vue'

import TransactionForm from './views/Transaction/Form.vue'
import ItemForm from './views/Item/Form.vue'
import BuyForm from './views/Item/BuyForm.vue'
import ProductForm from './views/Product/Form.vue'
import SellForm from './views/Product/SellForm.vue'
import ManfactureForm from './views/Product/ManfactureForm.vue'

import ProjectForm from './views/Project/ProjectForm.vue'
import ProjectMileStoneForm from './views/Project/MileStoneForm.vue'
import MilestoneFinishedAt from './views/Project/MilestoneFinishedAt.vue'



  export default {

    components:{
      Nav,
      Flash,
      OrgForm,
      ItemForm,
      ProductForm,
      ProjectForm,
      ProjectMileStoneForm,
      SellForm,
      ManfactureForm,
      BuyForm,
      TransactionForm,
      MilestoneFinishedAt
    },
    props: {
      source: String,
    },

    mounted(){

      let path = this.$route.path;

      Eventer.$on('loggedInSuccess', () => {

        this.loggedIn = true;
      
      });

      Eventer.$on('logout', () => {

        this.loggedIn = false;
      
      });

      
      

      Eventer.$on('addMileToProject', (projectId) => {

        this.subForm = projectId;

        this.item = null;

        this.dialog = true;
      
      });

      Eventer.$on('loadSellForm', (product) => {

        this.subForm = product;

        this.form = 'sell';

        this.item = null;

        this.dialog = true;
      
      });

      Eventer.$on('loadBuyForm', (product) => {

        this.subForm = product;

        this.form = 'buy';

        this.item = null;

        this.dialog = true;
      
      });




      Eventer.$on('milestoneFinishedAt', (milestone) => {

        this.subForm = milestone;

        this.form = 'milestoneFinishedAt';

        this.item = null;

        this.dialog = true;
      
      });  
      

      Eventer.$on('loadManufactureForm', (product) => {

        this.subForm = product;

        this.form = 'manufacture';

        this.item = null;

        this.dialog = true;
      
      });

      

      Eventer.$on('dismissDialog', () => {

        this.dialog = false;
        this.subForm = null;
        this.form = null;

      });

      Eventer.$on('loadItemToDialog', item => {

        // Case of subForm for milestones only till now
        
        if(item.subForm){

          this.subForm = item.subForm;
          this.item = item.item;
          this.dialog = true;
          return ;  
        }

        this.item = item;
        this.dialog = true;

      });



    },
    data: () => ({

      dialog: false,

      item: null,

      subForm: null,

      form: null,

      loggedIn: Auth.loggedIn()


    }),

    methods:{

      clear(){
        
        this.subForm = null;

        this.form = null;

      },

      create(){


        this.item = null; 

        this.dialog = !this.dialog

      }

    }
  }
</script>
